.imgSliderAbout{
    background-image: url('../img/about/slide1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* background-color: rgb(88, 88, 88);
    background-blend-mode: multiply; */
    animation: changeImageAbout 20s  infinite;
}
@keyframes changeImageAbout {
    0%{
        background-image: url('../img/about/slide1.png');
    }
    33.33333333333333%{
        background-image: linear-gradient(to bottom,rgba(233,0,0,.3), rgba(63, 62, 62, 0.5)), url('../img/about/slide2.png');

    }
    66.66666666666666%{
        background-image: linear-gradient(to bottom, rgba(233,0,0,.3), rgba(63, 62, 62, 0.5)), url('../img/about/slide3.png');
    }
    100%{
        background-image: url('../img/about/slide1.png');
    }
}