.imgSliderNews{
    background-image: url('../img/homepage/bg3a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    animation: changeImageNews 20s  infinite;
}
@keyframes changeImageNews {
    0%{
        background-image: url('../img/homepage/bg3a.jpg');
    }
    25%{
        background-image: url('../img/homepage/bg1a.jpg');
    }
    50%{
        background-image: url('../img/homepage/bg2a.jpg');
    }
    75%{
        background-image: url('../img/homepage/bg4a.jpg');
    }
    100%{
        background-image: url('../img/homepage/bg3a.jpg');
    }
}