.article {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    
  }
  .wrapper {
    position: relative;
  }
  .marquee {
    display: flex;
    list-style: none;
    padding-left: 0; 
    animation: marquee 15s linear infinite;
  }
  .marquee2 {
    display: flex;
    list-style: none;
    padding-left: 0; 
    animation: marquee2 15s linear infinite;
    position: absolute;
    top: 0;
    
  }
  .marquee2 li {
    width: 100px;
    
  }
  .marquee li {
    width: 100px;
  }
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }